@font-face {
  font-family: "AkzidenzGroteskBQ-BdCnd";
  font-display: swap;
  src: url("../fonts/AkzidenzGroteskBQ-BdCnd.woff") format("woff"), url("../fonts/AkzidenzGroteskBQ-BdCnd.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "BebasNeueRegular";
  font-display: swap;
  src: url("../fonts/BebasNeueRegular.woff") format("woff"), url("../fonts/BebasNeueRegular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "PTSans-Regular";
  font-display: swap;
  src: url("../fonts/PTSans-Regular.woff") format("woff"), url("../fonts/PTSans-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

* {
  padding: 0px;
  margin: 0px;
  border: 0px;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

aside,
nav,
footer,
header,
section {
  display: block;
}

html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
  min-width: 320px;
  position: relative;
  width: 100%;
  color: #000;
}

body {
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  font-family: "PTSans-Regular";
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body.lock {
  overflow: hidden;
}

input,
button,
textarea {
  font-family: "PTSans-Regular";
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

.wrapper {
  width: 100%;
  min-height: 100%;
  overflow: hidden;
}

.container {
  max-width: 880px;
  margin: 0 auto;
  width: 100%;
}

header {
  padding: 29px 0px 33px 0px;
  background-color: #fff;
}

.header-top {
  display: flex;
  font-size: 0;
  justify-content: space-between;
}

.header-top-lang {
  display: flex;
  font-size: 0;
}

.header-top-lang__item {
  display: block;
  line-height: 19px;
  color: #000;
  font-size: 14px;
  text-transform: uppercase;
  font-family: 'BebasNeueRegular';
  letter-spacing: 1px;
  padding: 0 4px;
  margin: 0 0 0 10px;
}

.header-top-lang__item.active {
  background: #000;
  color: #fff;
}

.header-top-lang__item:first-child {
  margin: 0 0 0 5px;
}

.header-top__link {
  position: relative;
  z-index: 11;
  margin: 3px 6px 0 0;
  font-family: 'AkzidenzGroteskBQ-BdCnd';
  text-transform: uppercase;
  text-decoration: underline;
  font-size: 15px;
  color: #000;
}

.header-bottom {
  margin: -13px 0 0 0;
  display: flex;
  font-size: 0;
  align-items: center;
}

.header-bottom__column {
  flex: 0 0 33.333%;
}

.header-bottom-menu__right .header-bottom-menu-list {
  margin: 0;
  display: flex;
  font-size: 0;
  justify-content: flex-end;
  text-align: right;
}

.header-bottom-menu__right .header-bottom-menu-list li {
  margin: 0 22.5px 0 22.5px !important;
}

.header-bottom-menu__right .header-bottom-menu-list li:first-child {
  margin: 0;
}

.header-bottom-menu-list {
  display: flex;
  font-size: 0;
}

.header-bottom-menu-list li {
  margin: 0 45px 0 0;
}

.header-bottom-menu-list li:last-child {
  margin: 0;
}

.header-bottom-menu__link {
  font-family: 'AkzidenzGroteskBQ-BdCnd';
  color: #000;
  font-size: 15px;
  text-transform: uppercase;
  letter-spacing: 2px;
}

.header-logo {
  position: relative;
  z-index: 11;
  display: block;
  text-align: center;
}

.header-logo__text {
  margin: 0 0 0 10px;
  display: block;
  color: #000;
  font-family: 'BebasNeueRegular';
  font-size: 10px;
  text-transform: uppercase;
  letter-spacing: 8.5px;
}

.header-logo__text:first-child {
  margin: 0 0 0 5px;
  letter-spacing: 5px;
}

.header-logo__image {
  display: inline-block;
  margin: 13px 0 22px 0;
}

.header-menu__icon {
  display: none;
}

.footer-body {
  display: flex;
  font-size: 0;
  height: 125px;
  justify-content: space-between;
  align-items: center;
}

.footer__text {
  color: #4d4d4d;
  font-size: 15px;
  line-height: 25px;
}

.footer__text a {
  text-decoration: underline;
  color: #4d4d4d;
}

.footer__text a:hover {
  text-decoration: none;
}

.btn {
  height: 50px;
  line-height: 50px;
  background-color: #000;
  display: inline-block;
  padding: 0 33px;
  font-size: 15px;
  font-family: 'BebasNeueRegular';
  text-transform: uppercase;
  letter-spacing: 1.5px;
  color: #fff;
}

.btn__w {
  background-color: #fff;
  font-size: 18px;
  font-weight: bold;
  color: #000;
  letter-spacing: 2px;
}

.ibg {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.ibg img {
  display: none;
}

input[type=text],
input[type=email],
input[type=tel],
textarea {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.input {
  border-radius: 0 !important;
  width: 100%;
  display: block;
  padding: 0px 18px;
  height: 50px;
  border: 2px solid #959595;
  background-color: #252525;
  color: #959595;
  font-size: 15px;
}

.input.err {
  border: 2px solid red;
}

textarea.input {
  resize: none;
  height: 100px;
  padding: 10px 18px;
}

.private {
  display: flex;
  font-size: 0;
  background-color: #000;
  margin: 0 0 75px 0;
}

.private__column {
  flex: 0 0 50%;
}

.private__image {
  height: 100%;
}

.private-body {
  padding: 75px 0px 75px 60px;
}

.private-body-content {
  max-width: 305px;
}

.private-body__title {
  margin: 0 0 24px 0;
  font-family: 'AkzidenzGroteskBQ-BdCnd';
  font-size: 51px;
  text-transform: uppercase;
  color: #fff;
  letter-spacing: 4.5px;
}

.private-body__text {
  margin: 0 0 51px 0;
  font-size: 15px;
  line-height: 25px;
  color: #fff;
}

.private-body-buttons {
  display: flex;
  font-size: 0;
  align-items: center;
}

.private-body-buttons__link {
  margin: 0 0 0 15px;
  font-family: 'BebasNeueRegular';
  text-transform: uppercase;
  color: #fff;
  font-size: 17px;
  font-weight: bold;
  text-decoration: underline;
  letter-spacing: 2.9px;
}

.products {
  margin: 0 0 40px 0;
}

.products-body {
  display: flex;
  font-size: 0;
}

.products__column {
  flex: 0 0 25%;
  margin: 0 0 40px 0;
}

.products-item {
  display: flex;
  font-size: 0;
  height: 100%;
  flex-direction: column;
}

.products-item__image {
  display: block;
  padding: 0 0 102% 0;
  margin: 0 0 23px 0;
}

.products-item__title {
  height: 50px;
  overflow: hidden;
  padding: 0 10px 0 0;
  max-width: 185px;
  display: block;
  margin: 0 0 27px 0;
  font-family: 'AkzidenzGroteskBQ-BdCnd';
  font-size: 25px;
  text-transform: uppercase;
  color: #000;
  letter-spacing: 2.5px;
}

.products-item__text {
  flex: 1 1 auto;
  padding: 0 5px 0 0;
  max-width: 185px;
  margin: 0 0 27px 0;
  font-size: 15px;
  line-height: 25px;
}

.products-item__btn {
  margin: 0 0 29px 0;
}

.products-item__link {
  padding: 0 0 0 6px;
  font-family: 'BebasNeueRegular';
  font-weight: bold;
  text-transform: uppercase;
  color: #000;
  font-size: 16px;
  text-decoration: underline;
  letter-spacing: 3.3px;
}

.why-top {
  display: flex;
  font-size: 0;
  background-color: #000;
}

.why-top__column {
  flex: 0 0 50%;
}

.why-top__text {
  padding: 55px 60px 55px 0;
  font-family: 'AkzidenzGroteskBQ-BdCnd';
  font-size: 50px;
  color: #fff;
  text-transform: uppercase;
  text-align: right;
  letter-spacing: 5px;
}

.why-top__image {
  height: 100%;
}

.why-body {
  padding: 50px 0 0 0;
  background-color: #ebebeb;
}

.why-body-row {
  display: flex;
  font-size: 0;
  flex-wrap: wrap;
}

.why-body__column {
  flex: 0 0 50%;
  margin: 0 0 50px 0;
}

.why-body-item {
  display: flex;
  font-size: 0;
}

.why-body-item__icon {
  flex: 0 0 100px;
  height: 100px;
  display: flex;
  font-size: 0;
  justify-content: center;
  align-items: center;
  background-color: #000;
}

.why-body-item-body {
  flex: 1 1 100%;
  display: flex;
  font-size: 0;
  flex-direction: column;
  padding: 0 0 0 11px;
}

.why-body-item-body__title {
  flex: 1 1 auto;
  font-family: 'AkzidenzGroteskBQ-BdCnd';
  font-size: 25px;
  text-transform: uppercase;
  letter-spacing: 2.5px;
}

.why-body-item-body__text {
  padding: 0 15px 0 0;
  font-size: 15px;
  line-height: 25px;
}

.contacts {
  padding: 80px 0 0 0;
}

.contacts__title {
  margin: 0 0 30px 0;
  font-family: 'AkzidenzGroteskBQ-BdCnd';
  text-transform: uppercase;
  font-size: 50px;
  letter-spacing: 5px;
}

.contacts-body {
  display: flex;
  font-size: 0;
  flex-wrap: wrap;
}

.contacts-body__column {
  flex: 0 0 50%;
  margin: 0 0 20px 0;
}

.contacts-body__item {
  display: inline-block;
  padding: 0 0 0 35px;
  font-size: 15px;
  color: #000;
  line-height: 27px;
}

.contacts-body__item_1 {
  background: url("../img/vv.svg") left no-repeat;
}

.contacts-body__item_2 {
  background: url("../img/email.svg") left no-repeat;
}

.contacts-body__item_3 {
  background: url("../img/telephone.svg") left no-repeat;
}

.contacts-social {
  display: flex;
  font-size: 0;
}

.contacts-social__item {
  margin: 0 30px 0 0;
}

.contacts-social__item:last-child {
  margin: 0;
}

.contacts-content {
  display: flex;
  font-size: 0;
  background-color: #000;
}

.contacts-content__column {
  flex: 0 0 50%;
}

.contacts-content__map {
  height: 100%;
}

.contacts-content-form {
  padding: 55px 60px;
}

.contacts-content-form__title {
  margin: 0 0 30px 0;
  font-family: 'AkzidenzGroteskBQ-BdCnd';
  text-transform: uppercase;
  color: #fff;
  font-size: 25px;
  letter-spacing: 5px;
}

.contacts-content-form-body {
  max-width: 375px;
}

.contacts-content-form-line {
  margin: 0 0 25px 0;
}

@media (max-width: 892px) {
  .container {
    max-width: 750px;
  }

  .header-bottom-menu__right .header-bottom-menu-list li {
    margin: 0 0 0 20px !important;
  }

  .header-bottom-menu-list li {
    margin: 0 20px 0 0;
  }

  .private-body {
    padding: 30px 20px 30px 30px;
  }

  .private-body__title {
    margin: 0 0 20px 0;
    font-size: 37px;
  }

  .private-body__text {
    margin: 0 0 30px 0;
  }

  .why-top__column {
    flex: 1 1 100%;
  }

  .why-top__column:last-child {
    display: none;
  }

  .why-top__text {
    padding: 30px 0;
    font-size: 40px;
    text-align: center;
  }

  .why-body__column {
    flex: 1 1 100%;
  }
}

@media (max-width: 767.98px) {
  body.lock {
    width: 100%;
    position: fixed;
    overflow: hidden;
  }

  .container {
    max-width: none;
    padding: 0 10px;
  }

  header {
    padding: 5px 0px 5px 0px;
  }

  .header-top {
    justify-content: flex-end;
    padding: 25px 0 0 0;
  }

  .header-top {
    padding: 15px 0 0 0;
  }

  .header-top-lang {
    margin: 0 0 25px 0;
    justify-content: center;
  }

  .header-bottom {
    margin: -37px 0 0 0;
  }

  .header-bottom-menu .header-bottom-menu-list {
    text-align: center;
  }

  .header-bottom-menu__right .header-bottom-menu-list {
    display: block;
    text-align: center;
    margin: 0;
  }

  .header-bottom-menu__right .header-bottom-menu-list li {
    margin: 0 0 15px 0 !important;
  }

  .header-bottom-menu__right .header-bottom-menu-list li:last-child {
    margin: 0;
  }

  .header-bottom-menu-list {
    display: block;
  }

  .header-bottom-menu-list li {
    margin: 0 0 15px 0 !important;
  }

  .header-bottom-menu-list li:last-child {
    margin: 0;
  }

  .header-logo__text {
    font-size: 8px;
  }

  .header-logo__image {
    margin: 2px 0px 5px 0px;
  }

  .header-logo__image img {
    width: 150px;
  }

  .header-menu__icon {
    display: block;
    position: absolute;
    top: 25px;
    left: 10px;
    width: 30px;
    height: 18px;
    cursor: pointer;
    z-index: 5;
  }

  .header-menu__icon span {
    transition: all 0.3s ease 0s;
    top: 8px;
    left: 0;
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: #000;
  }

  .header-menu__icon span:first-child {
    top: 0px;
  }

  .header-menu__icon span:last-child {
    top: auto;
    bottom: 0;
  }

  .header-menu__icon.active span {
    transform: scale(0);
  }

  .header-menu__icon.active span:first-child {
    transform: rotate(-45deg);
    top: 8px;
  }

  .header-menu__icon.active span:last-child {
    transform: rotate(45deg);
    top: 8px;
  }

  .header-menu {
    position: fixed;
    width: 100%;
    height: 100%;
    overflow: auto;
    top: 0;
    left: -120%;
    background-color: #fff;
    padding: 80px 10px 20px 10px;
    transition: all 0.6s ease 0s;
  }

  .header-menu.active {
    left: 0;
  }

  .footer-body {
    height: auto;
    padding: 15px 0;
    flex-direction: column;
  }

  .footer-body__column:first-child {
    order: 2;
  }

  .footer-body__column:last-child {
    order: 1;
    margin: 0 0 15px;
  }

  .footer__text {
    text-align: center;
  }

  .private {
    margin: 0 0 40px 0;
  }

  .private__column {
    flex: 1 1 100%;
  }

  .private__column:first-child {
    display: none;
  }

  .products-body {
    flex-wrap: wrap;
  }

  .products__column {
    flex: 0 0 50%;
  }

  .why-top__text {
    padding: 20px 0;
    font-size: 30px;
    text-align: center;
  }

  .contacts {
    padding: 30px 0 0 0;
  }

  .contacts-body__column {
    flex: 1 1 100%;
  }

  .contacts-content {
    display: block;
  }

  .contacts-content__map {
    display: block;
  }

  .contacts-content-form {
    padding: 30px;
  }

  .contacts-content-form-body {
    max-width: none;
  }
}

@media (max-width: 479.98px) {
  .header-top__link {
    font-size: 13px;
  }

  .header-bottom {
    margin: -27px 0 0 0;
  }

  .header-logo__text {
    letter-spacing: 5px;
  }

  .header-logo__image {
    margin: 0 0 2px 0;
  }

  .header-logo__image img {
    width: 100px;
  }

  .header-menu__icon {
    top: 18px;
  }

  .why-body {
    padding: 30px 0 0 0;
  }

  .why-body__column {
    margin: 0 0 30px 0;
  }

  .why-body-item__icon {
    flex: 0 0 80px;
    height: 80px;
    padding: 15px;
  }

  .why-body-item__icon img {
    max-width: 100%;
  }

  .why-body-item-body__title {
    font-size: 20px;
  }
}

@media (max-width: 380px) {
  .products__column {
    flex: 0 0 100%;
  }

  .products-item__image {
    margin: 0 0 15px 0;
  }

  .products-item__title {
    margin: 0 0 20px 0;
    max-width: none;
    height: auto;
    overflow: visible;
  }

  .products-item__text {
    max-width: none;
    margin: 0 0 15px 0;
  }
}